*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
  }
  body{
    margin: 0;
    background-color:  hsl(212, 45%, 89%);
    /* font-size: 15px; */
  }
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow :#77777733 0px 2px 50px;
  }
  img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
  }
  div h2{
    color: hsl(218, 44%, 22%);
    font-size: 1.4em;
  }
  p:last-child{
    font-weight: 300;
    color:hsl(220, 15%, 55%)
  }